*{
  margin: 0;
  padding: 0;
}
h1{
  text-align: center;
}
.card{
  margin:0 auto;
  width:350px;
  margin-top: 10px;
  text-align: center;
  box-shadow: 0px 4px 8px 0px black;
  transition: 2s;
  font-size: 0;
  
}
.card:hover{
  box-shadow: 0 22px 22px 0 black;
  
 
}
.inputt{
  width: 335px;
  height: 100px;
  font-size: 33px;
  font-weight: bold;
  text-align: right;
  padding: 0 4px;
  letter-spacing: 2px;
  
}
.but{
  width:87px;
  height: 70px;
  font-weight: bold;
  font-size: 33px;
  background-color: black;
  color:white;
}
.but-style{
  background-color:green;
}
.but:hover{
  background-color:pink;
}